.place__link {
  margin: 12px 0 0;
  color: inherit;
  font-size: 18px;
  line-height: 1.22;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
   .place__link {
    padding: 0 16px;
  }
}
