.place {
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content);
  grid-template-rows: min-content minmax(min-content, max-content);
  column-gap: 40px;
  row-gap: 48px;
}
